<mat-card>
    <mat-card-title>Login</mat-card-title>
    <mat-card-content>
        <form (ngSubmit)="login()">
            <p>

            </p>
            <p>
                <mat-form-field>
                    <input matInput placeholder="Username" [formControl]="username" required>
                    <mat-error *ngIf="username.invalid">{{getErrorMessage()}}</mat-error>
                </mat-form-field>
            </p>

            <p>
                <mat-form-field>
                    <input matInput placeholder="Password" [type]="hide ? 'password' : 'text'" [formControl]="password" required>
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                        [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <mat-error *ngIf="password.invalid">{{getErrorMessage()}}</mat-error>

                </mat-form-field>
            </p>

            <div class="button">
                <button mat-raised-button mat-dialog-close>Cancel</button>
                <button mat-raised-button type="submit" [disabled]="!username.valid || !password.valid">Login</button>
            </div>

            <div *ngIf="error">
                <p class="error">
                    {{mensajeError}}
                </p>
            </div>
        </form>
    </mat-card-content>
</mat-card>