<mat-toolbar color="primary">
  <mat-toolbar-row style="vertical-align: right ">
    <span>My App</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar-row>

  <mat-toolbar-row style="vertical-align: right ">
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="openDialogLogin()">
        <mat-icon>account_circle</mat-icon>
        <span>Login</span>
      </button>
      <button mat-menu-item>
        <mat-icon>dialpad</mat-icon>
        <span>AddProduct</span>
      </button>
      <button mat-menu-item disabled>
        <mat-icon>credit_card</mat-icon>
        <span>Check voice mail</span>
      </button>
      <button mat-menu-item>
        <mat-icon>add_shopping_cart</mat-icon>
        <mat-icon>remove_shopping_cart</mat-icon>
        <mat-icon>shopping_cart</mat-icon>
        <mat-icon>account_box</mat-icon>
        <mat-icon>account_circle</mat-icon>
        <mat-icon>home</mat-icon>
        <span>Disable alerts</span>
      </button>
    </mat-menu>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <nav>
      <ul>
        <li><a routerLink="/product" routerLinkActive="active">Products</a></li>
      </ul>
      <ul>
        <li><a routerLink="/add-product" routerLinkActive="active">Add Product</a></li>
      </ul>
    </nav>
  </mat-toolbar-row>
</mat-toolbar>

<main>
  <mat-card>
    <form action="">
      <router-outlet></router-outlet>
    </form>
  </mat-card>
</main>