<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="openDialogLogin()" *ngIf="isShowLogin">
        <mat-icon>account_circle</mat-icon>
        <span>Login</span>
      </button>
      <button mat-menu-item (click)="logout()" *ngIf="!isShowLogin">
        <mat-icon>exit_to_app</mat-icon>
        <span>Logout</span>
      </button>
      <button mat-menu-item routerLink="/list">
        <mat-icon>home</mat-icon>
        <span>Home</span>
      </button>
      <button mat-menu-item (click)="openDialogAddProduct()" *ngIf="currentRole == 'ADMIN'">
        <mat-icon>add_circle_outline</mat-icon>
        <span>AddProduct</span>
      </button>
      <button mat-menu-item disabled>
        <mat-icon>credit_card</mat-icon>
        <span>Check voice mail</span>
      </button>
      <button mat-menu-item>
        <mat-icon>add_shopping_cart</mat-icon>
        <mat-icon>remove_shopping_cart</mat-icon>
        <mat-icon>shopping_cart</mat-icon>
        <mat-icon>account_box</mat-icon>
        <mat-icon>account_circle</mat-icon>
        <mat-icon>home</mat-icon>
        <span>Disable alerts</span>
      </button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>

<main>
  <mat-card>
    <form action="">
      <app-list *ngIf="currentRole != 'ADMIN'"></app-list>
      <app-product *ngIf="currentRole == 'ADMIN'"></app-product>
    </form>
  </mat-card>
</main>