.button {
  display: flex;
  justify-content: flex-end;
  margin-right: 1rem;
}

mat-card {
  width: 100%;
}

mat-card-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

mat-form-field {
  width: 45%;
  margin-left: 2rem;
}

mat-card-actions {
  text-align: right;
}

.success {
  padding: 2rem;
  width: 100%;
  color: blue;
}